@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
  background-color: #fbfcfe;
}

.option-question {
  box-shadow: rgba(0,0, 0, 0) 0px 0px 0px 0px, rgba(0,0, 0, 0) 0px 0px 0px 0px, rgba(79, 114, 205, 0.15) 0px 4px 24px 0px !important;

  transition: background-color .2s ease-out,transform .2s ease-out,box-shadow .2s ease-out;
}